* {
margin: 0;
padding: 0;
box-sizing: border-box;

}
.sect-basic {
  padding: 0 3rem;
  max-height: 100vh;
  margin-bottom: 3rem;
}
body {
  background-color: #ECE9EC;
  /* background-color: #E7E7E7; */
  font-family: Nikkyou Sans, Arial, Helvetica, sans-serif;
}
#main {
  /* padding: 0.7rem 0.5rem; */
  margin-top: 3.6rem;
  position: relative;
}

#main header {
  width: 100%;
  /* height: 10px; */
  position: fixed;
  top: 0.4rem;
  z-index: 999;
}

.scroll-down header {
  transform: translate3d(0, -120%, 0);
  transition: all 0.5s ease-in-out;
}
.scroll-up header {
  transform: translate3d(0, 0, 0);
  transition: all 0.5s ease-in-out;
}

#main #navbar {
  width: 100%;
  height: 3.5rem;
  background-color: #BA0008;
  color: #ECE9EC;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.587);
}
#navbar .nav-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar .nav-div:nth-child(odd) {
  width: 23%;
  font-size: 0.8rem;
  justify-content: space-around;
}

#navbar #ndivh1 {
  width: 30%;
  font-size: 2rem;
  font-family: Osake,sans-serif;
}
#navbar #ndivh1 a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ECE9EC;
}

#navbar #ndivh1 img {
  width: 5rem;
  height: 3rem;
  margin: 0 1rem;
}

#ndivh4 a {
  text-decoration: none;
  color: #ECE9EC;
}

#ndivh4 h4 {
  position: relative;
}
#ndivh4 h4:hover {
  color: #010006;
  transition: all ease-in-out 0.5s;
}

#ndivh4 h4::after {
  content: "";
  position: absolute;
  bottom: -20%;
  right: 0;
  width: 0;
  height: 5px;
  background-color: #010006;
  transition: all ease-in-out 0.4s;
}
#ndivh4 h4:hover::after {
  content: "";
  position: absolute;
  bottom: -20%;
  right: 0;
  width: 80%;
  height: 5px;
  background-color: #010006;
}


/** <=======----- PAGE 1 -----=======> **/
#page1 {
  /* border: 2px solid ; */
  min-height: calc(100vh - 3.7rem);
  display: flex;
  justify-content: center; 
   align-items: center;
}

#page1 .pg1Container {
  width: 100%;
  height: 90vh;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/** <----- PAGE 1-Text -----> **/
#page1 #pg1Text {
  font-size: 3rem;
  line-height: 7rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#pg1Text .btn-container {
  /* border: 1px solid; */
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#pg1Text .button-prm a {
  text-decoration: none;
  color: #ECE9EC;
}

#pg1Text .button-prm {
  padding: 0.7rem 1.5rem;
  font-size: 1.3rem;
  border-radius: 1rem;
  background-color: #BA0008;
  color: #ECE9EC;
  border: 2px solid #BA0008;
  font-family: Osake, Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
/* #pg1Text .button-prm:hover {
  background-color: #ECE9EC;
} */
#pg1Text .button-prm:hover a {
  color: #010006;
}

#pg1Text .srch-btn {
  background-color: #ECE9EC;
  transition: all 0.3s ease-in-out;
}
#pg1Text .srch-btn a {
  color: #BA0008;
  transition: all 0.3s ease-in-out;
}

#pg1Text .srch-btn:hover {
  background-color: #BA0008;
}
#pg1Text .srch-btn:hover a {
  color: #ECE9EC;
}


/** <----- PAGE 1-Img -----> **/
#page1 #pg1Img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  position: relative;
  
}
#page1 #pg1Img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #BA0008;
  clip-path: circle(55% at 50% 110%);
  z-index: -1;
}
#pg1Img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/** <=======----- PAGE 2 -----=======> **/
#page2 {
  border: 2px solid ;
  display: flex;
  justify-content: center; 
  background-color: #010006;
  /* align-items: center; */
}

#page2 .pg2Container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  /* align-items: center; */
}
.pg2Container .pg2Box {
  width: 55%;
  height: 100%;
}
#pg2Img .pg2Img-cont{
  width: 90%;
  height: 100%;
  object-fit: cover;
}

#pg2Text {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;
  width: 45%;
  padding: 0.2rem 0.5rem;
  color: #ECE9EC;
}
#pg2Text .pg2Head {
  width: 84%;
  background-image: url(./Assests/brush.png);
  background-position: center;
  background-size: cover;
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 1rem;

}
#pg2Text p {
  margin-bottom: 1rem;
}

#pg2Text .pg2Links {
  width: 90%;
  font-size: 1.7rem;
  margin-top: 1rem;
  padding-top: 1rem;
  position: relative;
  z-index: 2;
}
#pg2Text .pg2Links hr {
  height: 3px;
  background-color: #ECE9EC;
  border: none;
}
#pg2Text .pg2Links h2 {
  margin-bottom: 1.5rem;
}
#pg2Text .pg2Links a {
  text-decoration: none;
  color: #BA0008;
}

#cursor1 {
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #BA0008;
  transform: translate(-50%, -50%) scale(0);
  mix-blend-mode: difference;
  cursor: pointer;
}

#pg2Text .pg2Links:hover  #cursor1 {
  transform: translate(-50%, -50%) scale(2);
}


/** <=======----- PAGE 3 -----=======> **/
#page3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./Assests/bg-2.png);
  background-position: 0 10%;
  /* background-size:contain; */
  background-repeat: no-repeat;
}

.pg3Container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#pg3Text {
  font-size: 3rem;
  margin-bottom: 2rem;
  /* color: #BA0008; */
  font-family: Osake, Arial, Helvetica, sans-serif;
}
#pg3Text h1 {
  filter: drop-shadow(15px 5px 10px 10px #010006);
}

#pg3GridContainer {
  backdrop-filter: blur(10px);
  /* border: 1px solid; */
  width: 100%;
  height: 75vh;
  /* opacity: 0; */
}

.pg3Grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  }
  
  #pg3grid1 {
     grid-area: 1 / 1 / 3 / 3; 
     background-color: blue;
    }
  #pg3grid2 {
     grid-area: 1 / 3 / 3 / 7; 
     background-color: violet;
    }
  #pg3grid3 {
     grid-area: 1 / 7 / 4 / 9; 
     background-image: url(./Assests/bg-grid3.jpeg);
     background-position: center;
     background-size: cover;
    }
  #pg3grid4 { 
     grid-area: 3 / 1 / 6 / 4; 
     background-color: orange;
    }
  #pg3grid5 {
     grid-area: 4 / 7 / 6 / 9; 
     background-image: url(./Assests/bg-grid5.jpeg);
     background-position: 0 28%;
     background-size: cover;
    }
  #pg3grid6 {
     grid-area: 3 / 4 / 5 / 7; 
     background-image: url(./Assests/bg-grid6.jpeg);
     background-position: center;
     background-size: cover;
    }
  #pg3grid7 {
     grid-area: 5 / 4 / 6 / 7; 
     background-color: blue;
    }

    .pg3GridItem {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .pg3GridItem a {
      text-decoration: none;
      color: #ECE9EC;
    }